#s-556a4417-d03a-4fbb-9b59-c6959179204e > #backgroundBox {
  position: absolute;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e > #alignmentBox {
  position: relative;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_1 {
  position: absolute;
  width: 1358.0px;
  height: 1373.5604248046875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_2 {
  position: absolute;
  width: 821.8729248046875px;
  height: 1055.2791748046875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_1 {
  position: absolute;
  width: 127.6053466796875px;
  height: 47.84686279296875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_3 {
  position: absolute;
  width: 670.512451171875px;
  height: 60.11981201171875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_5 {
  position: absolute;
  width: 670.512451171875px;
  height: 60.11981201171875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_4 {
  position: absolute;
  width: 65.07791137695312px;
  height: 19.6060791015625px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_5 {
  position: absolute;
  width: 118.52297973632812px;
  height: 19.0714111328125px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_7 {
  position: absolute;
  width: 403.15625px;
  height: 60.11981201171875px;
  cursor: pointer;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_6 {
  position: absolute;
  width: 77.82330322265625px;
  height: 29.168701171875px;
  cursor: pointer;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_7 {
  position: absolute;
  width: 201.105712890625px;
  height: 19.6060791015625px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Line_1 {
  position: absolute;
  width: 219.5531005859375px;
  height: 2.0px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Line_2 {
  position: absolute;
  width: 219.5531005859375px;
  height: 2.0px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_8 {
  position: absolute;
  width: 671.2198486328125px;
  height: 63.65625px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_9 {
  position: absolute;
  width: 672.80517578125px;
  height: 65.24169921875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_10 {
  position: absolute;
  width: 671.2198486328125px;
  height: 63.65625px;
  cursor: pointer;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_11 {
  position: absolute;
  width: 672.80517578125px;
  height: 65.24169921875px;
  cursor: pointer;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_12 {
  position: absolute;
  width: 323.9395751953125px;
  height: 63.65625px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_13 {
  position: absolute;
  width: 325.5250244140625px;
  height: 65.24169921875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_14 {
  position: absolute;
  width: 323.9395751953125px;
  height: 63.65625px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_15 {
  position: absolute;
  width: 325.5250244140625px;
  height: 65.24169921875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Line_3 {
  position: absolute;
  width: 672.2198486328125px;
  height: 2.0px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_8 {
  position: absolute;
  width: 89.459716796875px;
  height: 25.7171630859375px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_9 {
  position: absolute;
  width: 468.79150390625px;
  height: 26.254638671875px;
  cursor: pointer;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_10 {
  position: absolute;
  width: 122.02410888671875px;
  height: 19.068603515625px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_11 {
  position: absolute;
  width: 83.191650390625px;
  height: 19.6060791015625px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_12 {
  position: absolute;
  width: 539.5235595703125px;
  height: 18.092529296875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_16 {
  position: absolute;
  width: 32.535400390625px;
  height: 32.535400390625px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_17 {
  position: absolute;
  width: 32.535400390625px;
  height: 32.535400390625px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_18 {
  position: absolute;
  width: 32.535400390625px;
  height: 32.535400390625px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_19 {
  position: absolute;
  width: 1358.0px;
  height: 67.19271087646484px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_13 {
  position: absolute;
  width: 150.0894012451172px;
  height: 28.82354736328125px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Rect_20 {
  position: absolute;
  width: 109.801025390625px;
  height: 43.31562423706055px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_14 {
  position: absolute;
  width: 51.858642578125px;
  height: 14.584354400634766px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_15 {
  position: absolute;
  width: 38.9151611328125px;
  height: 14.584354400634766px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Path_16 {
  position: absolute;
  width: 69.7530517578125px;
  height: 10.595230102539062px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Circle_1 {
  position: absolute;
  width: 13.438682556152344px;
  height: 13.498779296875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Circle_2 {
  position: absolute;
  width: 13.438682556152344px;
  height: 13.498779296875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Circle_3 {
  position: absolute;
  width: 13.438674926757812px;
  height: 13.498779296875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Circle_4 {
  position: absolute;
  width: 13.438690185546875px;
  height: 13.498779296875px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input {
  position: absolute;
  width: 672.0000000000001px;
  height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(3.5355339059327373px 3.5355339059327378px 2.5px #404040);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input {
  box-shadow: 3.5355339059327373px 3.5355339059327378px 5px 0px #404040;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input .valign {
  vertical-align: middle;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 {
  position: absolute;
  width: 672.0000000000001px;
  height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(3.5355339059327373px 3.5355339059327378px 2.5px #404040);
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 {
  box-shadow: 3.5355339059327373px 3.5355339059327378px 5px 0px #404040;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 .valign {
  vertical-align: middle;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-556a4417-d03a-4fbb-9b59-c6959179204e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
