#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 > #backgroundBox {
  position: absolute;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 > #alignmentBox {
  position: relative;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Mask_1 {
  position: absolute;
  width: 1359.0px;
  height: 2169.666259765625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_4 {
  position: absolute;
  width: 402.8593749999998px;
  min-height: 60.07552083333303px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(4.949747468305832px 4.949747468305833px 2.5px #404040);
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_4 {
  box-shadow: 4.949747468305832px 4.949747468305833px 5px 0px #404040;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #B5F0E9;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Image_4 {
  position: absolute;
  width: 160.50269970893862px;
  height: 26.235243606567565px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Image_4 {
  box-shadow: none;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_2 {
  position: absolute;
  width: 154.78281249999964px;
  min-height: 60.075520833333485px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.414213562373095px 1.4142135623730951px 2.5px #B4B4B4);
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_2 {
  box-shadow: 1.414213562373095px 1.4142135623730951px 5px 0px #B4B4B4;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F2CACA;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_3 {
  position: absolute;
  width: 154.78281249999964px;
  min-height: 60.075520833333485px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(1.414213562373095px 1.4142135623730951px 2.5px #B4B4B4);
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_3 {
  box-shadow: 1.414213562373095px 1.4142135623730951px 5px 0px #B4B4B4;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F2CACA;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Image_2 {
  position: absolute;
  width: 108.2391232808427px;
  height: 10.587413279215525px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Image_2 {
  box-shadow: none;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Image_3 {
  position: absolute;
  width: 107.34224386215215px;
  height: 10.615711720784475px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Image_3 {
  box-shadow: none;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_1 {
  position: absolute;
  width: 64.31614583333328px;
  min-height: 57.9552083333333px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(2.82842712474619px 2.8284271247461903px 2.5px #B7B7B7);
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_1 {
  box-shadow: 2.82842712474619px 2.8284271247461903px 5px 0px #B7B7B7;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F2CACA;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Image_1 {
  position: absolute;
  width: 14.792751502990768px;
  height: 12.396788024902207px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-a24d577e-1e84-4e85-8bbb-e23ed50af056 #s-Image_1 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-a24d577e-1e84-4e85-8bbb-e23ed50af056 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
