#s-d8aef093-c562-4065-9c63-57cb7b73641a > #backgroundBox {
  position: absolute;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a > #alignmentBox {
  position: relative;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Mask_1 {
  position: absolute;
  width: 1359.0px;
  height: 2730.135498046875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_1 {
  position: absolute;
  width: 347.0px;
  min-height: 112.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(3.5355339059327373px 3.5355339059327378px 2.5px #404040);
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}

_:-ms-fullscreen, :root #s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_1 {
  box-shadow: 3.5355339059327373px 3.5355339059327378px 5px 0px #404040;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFD233;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FF0606;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FF0606;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FF0606;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FF0606;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_2 {
  position: absolute;
  width: 347.0px;
  min-height: 112.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(3.5355339059327373px 3.5355339059327378px 2.5px #404040);
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}

_:-ms-fullscreen, :root #s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_2 {
  box-shadow: 3.5355339059327373px 3.5355339059327378px 5px 0px #404040;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFD233;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FF0606;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FF0606;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FF0606;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FF0606;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Input {
  position: absolute;
  width: 603.0000000000002px;
  height: 42.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Input {
  box-shadow: none;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Input .valign {
  vertical-align: middle;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d8aef093-c562-4065-9c63-57cb7b73641a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
