#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 > #backgroundBox {
  position: absolute;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 > #alignmentBox {
  position: relative;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Mask_1 {
  position: absolute;
  width: 1359.0px;
  height: 1823.348388671875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_1 {
  position: absolute;
  width: 261.3848876953125px;
  min-height: 54.301025390625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_1 {
  box-shadow: none;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Image_1 {
  position: absolute;
  width: 207.81039292812335px;
  height: 17.315885416666788px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Image_1 {
  box-shadow: none;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_2 {
  position: absolute;
  width: 229.70052083333326px;
  min-height: 49.47395833333326px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(4.242640687119285px 4.242640687119286px 2.5px #404040);
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_2 {
  box-shadow: 4.242640687119285px 4.242640687119286px 5px 0px #404040;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #B5F0E9;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Image_2 {
  position: absolute;
  width: 124.835512193044px;
  height: 20.404556783040334px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f9c6f4d1-3a16-436f-8b24-350f76335b94 #s-Image_2 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-f9c6f4d1-3a16-436f-8b24-350f76335b94 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
